VITE_PUBLIC_BASE_URL=<vite public base url>
VITE_PUBLIC_BASE_API_URL=<vite public base url>
VITE_PUBLIC_NEW_API_URL=<vite public base new api url>
VITE_PUBLIC_NEWSAPI_KEY=<vite public base new api key>
VITE_PUBLIC_IP_LOC_API=https://ipapi.co/json/
VITE_DEBUG_MODE=true
VITE_AUTH_SECRET=<vite auth secret>
VITE_SUPABASE_URL=<vite auth supabase url>
VITE_SUPABASE_ANON_KEY=<vite auth supabase anon key>
VITE_PUBLIC_ALSAQR_URL=https://www.alsaqr.app